[2016-03-11 20:26] jdx opened #1 "pg:promote does not work with attached database"

[2016-05-19 10:49] bestori opened #4 "Feature request: show % progress in cli upon heroku pg:copy command issues"

[2016-08-03 17:22] msakrejda opened #10 "Can complain about ambiguity where there is none"
[code]

Clearly I'm not trying to `psql` into my Redis =)

[2016-08-03 17:51] jdx commented on #10
@ransombriggs any ideas on how we could fix this? This is the old ruby code, but even if I ported it to node and apiv3 we would have the same problem since at the time I request the attachments I don't have a way to request just postgres attachments.

[2016-08-04 14:26] ransombriggs commented on #10
@uhoh-itsmaciek @dickeyxxx yeah, this is something that would require an API change.  @geemus do you know of any endpoints offhand that allow scoping using a header or query params that we could emulate?  Pretty sure this is requesting something like `/addon-attachments/:attachment` and it would be nice if we could add a type to it so it only considers postgres.

[2016-08-04 14:36] geemus commented on #10
Probably the closest would be the filter apps endpoint (which filters apps to just a specified list of ids): https://github.com/heroku/api/blob/master/lib/api/endpoints/api_v3/filters_apps.rb

[2016-08-15 22:36] msakrejda opened #14 "Unresolvable ambiguity when one attachment name substring of other"
[code]

A workaround is to use the add-on haiku name here, but that's not obvious from the error message.

[2016-08-16 16:49] keiko713 opened #15 "Raises `Parameter "url" must be a string, not undefined` when the default db (`DATABASE_URL`) is an attached addon"
[code]

[code]

This is coming from [here](https://github.com/heroku/heroku-pg/blob/master/lib/fetcher.js#L25), because `config[addon.config_vars[0]]` is `undefined`. It's undefined because `addon.config_vars[0]` is `HEROKU_POSTGRESQL_BLACK_URL`, which I don't have it in keiko-sushi app (I only have it with keiko-cedar10 app). `addon.config_vars` is being `HEROKU_POSTGRESQL_BLACK_URL` because that

[2016-08-16 16:58] keiko713 opened #16 "`Couldn't find that add-on.` when there is no default database configured in DATABASE_URL"
Expected behavior (and is working well with `heroku pg:diagnose`, because it's still using Ruby one... I think?):

[code]

Confusing behavior with commands of heroku-pg-extras:

[code]

Likely it's failing [here](https://github.com/heroku/heroku-pg/blob/master/lib/fetcher.js#L12), where it tries to search the addon `DATABASE_URL` with heroku-cli-addons and it does say it couldn't find that add-on.

[2016-08-17 23:38] msakrejda opened #17 "Can complain about ambiguity where there is none #2"
This is similar to but distinct from #10

[code]

[2016-08-17 23:39] msakrejda commented on #17
More specifically, yes there are multiple attachments but they point to the same thing.

[2016-08-26 17:16] pdfrod commented on #16
A had a typo on the app's name and also got the very confusing error message: `Couldn't find that add-on.`

[2016-09-29 16:52] keiko713 commented on #16
I'm seeing confused customers time to time (pretty regularly), would be nice to see some improvement.

[2016-09-29 16:56] msakrejda commented on #16
Yeah, this is now using [resolve](https://github.com/heroku/heroku-pg/blob/master/lib/fetcher.js#L8) from `heroku-cli-addons`--that doesn't handle some situations as gracefully. I know @dickeyxxx had it on his radar to improve this.

[2016-10-11 20:04] jdx commented on #16
This is turning out to be a seriously hard problem, but @mathias is going to spend some time on it while I'm gone.

I realize that might seem surprising to just change the error message here, but we have a lot of inconsistency with how we reference add-ons and we want to come up with what should be the right way to do it.

Having said that, if it drags on too long, we do plan to ship a quicker fix

[2016-10-11 20:20] msakrejda commented on #16
@mathias feel free to ping me if you want details on how Shogun interacts with this (not that it does all that much) or just need a rubber duck.

[2016-10-19 15:12] mathias commented on #16
@uhoh-itsmaciek Howdy. My understanding is that this is simply going to make the serverside solution for resolution the same between `addons` and `pg` commands, and generate better error messages -- we're not improving the range of things that can be resolved from what it is now.

Can you elaborate on

?

Thanks.

[2016-10-20 18:20] msakrejda commented on #16
Is it different now? `heroku-pg` just calls this function:

[code]

Is what addons does different?

Re: not handling things gracefully: see e.g., #10 and #17--that wasn't an issue with the old client-side resolution mechanism used in Ruby.

[2016-10-25 21:47] mathias commented on #10
@ransombriggs This is where having an `addon_service` filter on attachments resolver endpoint would be good. I'm not sure that it makes sense on the add-on resolver though.

[2016-11-01 17:43] ransombriggs commented on #16
This endpoint is not used yet by the CLI, leaving open until verified fixed

[2016-11-01 17:55] mathias commented on #16
@ransombriggs :+1: sorry for marking it wrong.

[2016-11-28 21:35] ransombriggs opened #57 "pg:copy Cannot read property 'started_at' of undefined"
[code]

[2016-11-28 21:38] ransombriggs commented on #57
@dickeyxxx this is probably because of a `<-- 500 Internal Server Error` which I do not get with the old Ruby code

[2016-11-29 22:27] jdx commented on #15
this is fixed right? cc @ransombriggs

[2016-11-29 22:28] jdx commented on #4
I was able to add status messages from pg, but as far as I know there is no way to get the progress of a pg backup. Is that right @uhoh-itsmaciek?

[2016-11-29 22:28] #17 closed, assigned to nobody

[2016-11-29 22:29] #16 closed, assigned to nobody

[2016-11-29 22:29] #14 closed, assigned to nobody

[2016-11-29 22:29] #10 closed, assigned to nobody

[2016-11-29 22:29] keiko713 commented on #15
at least I can't repro anymore, cool cool

[code]

[2016-11-29 22:32] #15 closed, assigned to nobody

[2016-11-29 22:32] jdx commented on #15
we put a lot of changes in around how we fetch config vars

[2016-11-29 22:39] ransombriggs commented on #15
@dickeyxxx yeah, this was one of the things that I fixed where we now use the attachment `config_vars` instead of the addon `config_vars`

[2016-11-29 22:39] msakrejda commented on #4
We could potentially check source size and target size in the backups backend and guesstimate progress with that, and then expose that in the CLI... I think it's potentially doable but it's a bit of a project.

[2016-11-30 01:45] msakrejda opened #58 "Poor error handling with no databases"
Via @cyberdelia

[code]

Oki does have a DATABASE_URL, but it's a copy-and-paste from oki-cedar (and if we're doing this, others certainly also are). Ideally, we should either

 * fall back to DATABASE_URL if there are no add-ons or attachments
 * give a sensible error when there are no add-ons or attachments

[2016-11-30 15:39] ransombriggs commented on #58
@uhoh-itsmaciek I went with the sensible error because it matches what the ruby code does.  The fix can be found here if you could review it quick https://github.com/heroku/heroku-pg/pull/59

[2016-11-30 17:16] jdx commented on #58
this is 2 different issues right?

[2016-11-30 17:16] #58 closed, assigned to nobody

[2016-11-30 17:19] msakrejda commented on #58
Well, the one issue was the poor error handling. I proposed an easy fix (what Ransom implemented in #59) and a more thorough but more complicated fix. We can add the more complicated fix as an enhancement down the line, but it's fine to keep this closed as the original issue is resolved.

[2016-11-30 17:52] jdx commented on #58
Isn't it just really old apps that would have DATABASE_URL set to something non-pg? Since the API won't allow you to set that config var anymore I don't think.

[2016-11-30 17:55] msakrejda commented on #58
[code]

 ¯\\\_(ツ)\_/¯

[2016-11-30 19:27] ransombriggs commented on #58
@dickeyxxx it only prevents you overwriting it if you have an addon that is setting it, since Macieks app does not have a database yet, it does not prevent it.  Here is the behavior for an app with an existing databse.
[code]

[2016-11-30 20:00] djcp opened #61 "Odd error when tethered to verizon mifi"
I had a pretty solid mifi connection, so that might be a red herring.

I had terminated a statement, quitting psql and then connected again though I don't think that matters. This essentially aborted while I was entering the command with the `SSL SYSCALL` error.

This may entirely be the fault of the psql client, which I'm guessing this hands off to.

[code]

[2016-11-30 20:04] djcp opened #62 "psql history not saved line-by-line"
I'm not sure if this is a change or not, but it seems that if you run a set of commands and abort the pg:psql session via ctrl-c, the history isn't saved.

I thought that under the legacy pg:psql that history was saved each time you executed a statement, but I might be wrong.

[2016-11-30 20:07] ransombriggs commented on #61
@djcp yeah, at that point we have handed off control to `psql`

@dickeyxxx not sure why he is getting that for a prompt, I would have expected something like `core-db::DATABASE`, any idea what that might be?

[2016-11-30 20:09] ransombriggs commented on #62
@djcp could you include the output of your commands?  I tried to reproduce but was not able to and want to see if there is a difference in usage, etc.

[2016-11-30 20:14] djcp commented on #61
I actually like the new prompt, also I use a custom .psqlrc

[code]

[2016-11-30 20:32] djcp commented on #62
This is interesting:

## Old pg:psql

[code]

Hitting ctrl-c just aborts the line, not the entire client. This is what I'd expect and what I'm used to from psql sessions.

## this plugin:

[code]

ctrl-c aborts the second time.  This might be related to history saving, as many REPLs only save by default when they exit elegantly.  I have only one version of the psql binary on my machine, it's ubunt

[2016-11-30 20:34] djcp commented on #61
by "new prompt", I mean where it says

[code]

instead of

[code]

[2016-12-01 17:56] jdx commented on #61
you don't think any signals were passed to the process here do you?

[2016-12-01 17:59] jdx commented on #62
#63 should fix this. I only did it once before since I didn't realize that in interactive mode it always swallows the sigint

[2016-12-01 18:40] #62 closed, assigned to nobody

[2016-12-01 18:43] jdx commented on #58
ahh ok

[2016-12-04 17:28] bestori commented on #4
Could I somehow contribute to making this happen? Would gladly do so.

[2016-12-04 18:16] jdx commented on #4
no it would have to include a significant server component

[2016-12-05 16:40] msakrejda commented on #4
You know, thinking about this some more, I think I was wrong: I didn't account for MVCC bloat. Because of that, the source database can be much "larger" than the target (as in, `pg_database_size` can return wildly inflated values because it counts bloat). I can't think of a way to accurately estimate copy progress without more support from Postgres itself.

[2016-12-09 17:50] keiko713 opened #65 "pg:diagnose is receiving the wrong format for plan name"
pgdiagnose is expecting to receive the plan name like `standard-0`, instead of `heroku-postgresql:standard-0`.
This is causing the issue that we don't know the proper plan in pgdiagnose side, and always reporting RED for "Connection Count". The easy fix would be changing heroku-pg and pass the param that pgdiagnose expects.

https://github.com/heroku/pgdiagnose/blob/master/plans.go
https://github.

[2016-12-10 08:40] jdx commented on #65
nice debugging!

[2016-12-13 08:33] stof opened #67 "pg:backups public-url is not BC"
The old Ruby implementation had a ``-q`` option, which does not work anymore after the update switching to this repo command, breaking my script.

As the new command seems to have the behavior of the old quiet mode (i.e. outputting only the URL), I can update easily, but it would be a good idea to support the option in the BC layer.

[2016-12-13 16:55] adamrainsby opened #68 "Port passed to pg:pull is ignored"
I raised the same issue here https://github.com/heroku/cli/issues/357 but I guess this is where the issue actually is.

Since Friday whenever I run

[code]

I get

[code]

I have postgres running on port 5433 not 5432 so obviously the connection is refused.

I also noticed there aren't any tests for non-standard ports in test/commands/pull.js

[2016-12-13 20:00] ransombriggs commented on #67
@stof thanks for filing this issue, I shipped a new version (5.5.10) you can get by running `heroku update` in case someone else runs into this issue.

[2016-12-13 20:04] ransombriggs commented on #68
@adamrainsby I just shipped a new version (5.5.10) you can get by running `heroku update`.  Please let me know if that fixes this bug.  fwiw, the PR with the fix is here https://github.com/heroku/heroku-pg/pull/70/files

[2016-12-13 20:42] adamrainsby commented on #68
Perfect, thanks.

[2016-12-13 20:42] #68 closed, assigned to nobody

[2016-12-14 19:03] keiko713 opened #72 "pg:backups:schedule is passing the wrong schedule_name"
It is passing the addon name (e.g. `postgresql-awesome-1234`) with current implementation:

https://github.com/heroku/heroku-pg/blob/53abb297eb3091a14868c6992b7343254f647d60/commands/backups/schedule.js#L41

It was passing something like `DATABASE_URL` previously:

https://github.com/heroku/heroku/blob/d7e9718079b9936ffd264529bdd03a6734fd64cc/lib/heroku/command/pg_backups.rb#L576-L588

This is cau

[2016-12-14 19:17] ahamidi opened #73 "pg:pull does not tunnel through bastions"
The `pg:pull` command does not tunnel through bastions when used on a Private database. It instead tries to connect directly to the database instance.

[2016-12-14 23:30] ransombriggs commented on #73
@ahamidi I was able to replicate this issue and hope to have a fix tomorrow.

[2016-12-15 00:08] ransombriggs commented on #73
@ahamidi if you need an immediate fix, you can follow the steps outlined here to do a backup + restore https://devcenter.heroku.com/articles/heroku-postgres-import-export

[2016-12-15 17:45] #72 closed, assigned to nobody

[2016-12-15 19:36] ransombriggs commented on #73
@ahamidi this is fixed in `5.6.2`, could you please `heroku update` and try again?

[2016-12-15 20:07] #65 closed, assigned to nobody

[2016-12-15 21:15] ahamidi commented on #73
@ransombriggs Yep, works now. Thanks!

[2016-12-15 23:34] Alain1405 opened #78 "pg:pull expecting ssl connection?"
Running `heroku-cli/5.6.4-5c98d4f (darwin-amd64) go1.7.4`

If I call `heroku pg:pull DATABASE_URL db/path --app app-name` I get `psql: server does not support SSL, but SSL was required`.

I've tried to pass a configuration strings in various forms (URI and key/value pairs) instead of db name but no success.

[2016-12-16 16:22] #73 closed, assigned to nobody

[2016-12-17 02:30] Alain1405 commented on #78
It worked with `heroku pg:pull DATABASE_URL postgresql://localhost:5444/db-name?sslmode=allow`

[2016-12-17 02:31] #78 closed, assigned to nobody

[2017-01-07 01:37] msakrejda opened #82 "does not exit cleanly if pg:psql postgres connection dies"
Steps to repro:

1. Run `heroku pg:psql`
2. In a separate session, find the pid of the first session and run `pg_terminate_backend` (I think `pg:killall` would also work)
3. Try to exit the original psql session with `\q`. You'll get the following error:

[code]

[2017-01-10 22:02] jdx commented on #82
probably should still error out with ECONNRESET, but maybe not with the call stack.

[2017-01-10 22:08] msakrejda commented on #82
Yeah, it's kinda weird, since if you *don't* quit immediately, psql will re-establish the session for you. Also, I can't seem to replicate this anymore, so maybe there's more to this. I'll leave it open in case someone else wants to try to repro...

[2017-01-11 00:56] msakrejda opened #83 "Does not cleanly handle Ctrl+C on long-running queries"
It looks like this kills psql (instead of interrupting the query) and leaves the command shell in a bad state. I can't reproduce this on Ubuntu but @fnando reproduced this in OS X. It's not clear whether Windows is affected.

[2017-01-11 00:57] jdx commented on #83
so `psql` is exiting but the command is still running?

[2017-01-11 00:59] msakrejda commented on #83
That's a good question--I'll follow up.

[2017-01-13 18:30] msakrejda commented on #83
Reinstalling (as per our conversation) worked for the affected user. @fnando, can you try reinstalling (upgrade won't help) the CLI and see if that fixes it for you, too? This may just be a fluke due to the bad signal handling in the one release.

[2017-01-24 06:04] derikson opened #85 "allow connection to local DB through Unix socket"
I don't see that there is currently any way to connect to a database through a Unix socket with `heroku pg:pull`.

The PostgreSQL command line tools connect using a socket if the host part is empty or starts with a slash. But this command changes the host to `localhost` if it's empty, and the host portion of a URI can only contain a slash if it's percent-encoded, but `url.parse()` treats that as p

[2017-01-24 22:36] msakrejda commented on #67
Closing this as presumed fixed; please reopen if you still have issues.

[2017-01-24 22:36] #67 closed, assigned to nobody

[2017-01-24 22:37] msakrejda opened #87 "pg:backups:download does not properly clean up terminal on progress updates"
![backup-download](https://cloud.githubusercontent.com/assets/159100/22518515/ba0ed53e-e861-11e6-8a9f-0ad82c549de2.png)

[2017-01-25 09:05] stof commented on #67
indeed, it is fixed

[2017-01-25 19:57] keiko713 opened #88 "pg:backups:restore fails with non-helpful message with wrong single quote URL"
There was a Windows user who used the "wrong" single quote and ended up seeing an unhelpful error message.

[code]

Maybe error messages can be a bit more helpful...?

[2017-02-21 10:44] csuhta opened #92 "False extension mismatch reported with pg:pull + partially-qualified local database + no ssl"
I have a local database, `sample`, that I am `pg:pull`-ing into. The local database server doesn't support SSL connections, and the production database has 7 extensions.

If I use `heroku pg:pull DATABASE sample`, the server's extensions will be correctly `CREATE`-ed locally, but the CLI will report an extension mismatch:

[code]

If I fully-qualify my local database's URL with `heroku pg:pull DAT

[2017-02-23 00:42] BenLiyanage opened #93 "pg:wait will fail even if the requested operation is still continuing"
I believe pg:wait should retry several times before doing a hard exit here:

https://github.com/heroku/heroku-pg/blob/master/commands/wait.js#L42

I've recently had an issue where pg:wait failed while my restore continued due to an intermittent network connection (https://help.heroku.com/tickets/453842).  This is problematic when you are trying to script restores.

Can this have some sort of retry

[2017-02-23 00:48] msakrejda commented on #93
That sounds reasonable; until then, because `pg:wait` will exit with a zero status if there's nothing to wait for, you can work around this with something like `until heroku pg:wait; do :; done`.

[2017-02-23 01:27] keiko713 opened #94 "heroku pg:psql -c 'select pg_sleep(100)' will fail in the middle due to 20s timeout"
https://github.com/heroku/heroku-pg/blob/master/lib/psql.js#L19

Also, seems like you can't really change this timeout, and I'm not really sure where 20s is coming from. Well, maybe for bastion? but still...

[2017-02-23 01:27] keiko713 commented on #94
[code]

[2017-02-23 18:47] msakrejda opened #95 "pg:push refusing to push to empty database"
Copied from https://github.com/heroku/cli/issues/372:

---

[code]

SILVER is actually a new hobby-dev database. The existing DATABASE_URL database was also emptied when I ran into this issue and before I tried with a fresh database (I wanted to upgrade to 9.6.1 anyhow.)

---

See the original ticket for more details

[2017-02-23 19:11] msakrejda commented on #87
I was not able to reproduce this:

[code]

[2017-02-23 19:11] #87 closed, assigned to msakrejda

[2017-02-23 19:34] msakrejda commented on #95
I was able to reproduce this by creating a fresh database and pushing to it. Resetting and then pushing to it again hit the same issue.

[2017-02-23 19:38] msakrejda commented on #95
Ok, it looks like the way the command was originally implemented is really brittle and any number of `.psqlrc` changes can make it fail the "is the database empty"? check. Working on a fix.

[2017-02-23 21:12] msakrejda commented on #94
I've looked at this and there's no way to tell when the spawned process has connected to the database and started running the query in the general case. It looks like the timeout was put in during the bastion work in 680a27fcd02f6c0e9e8e4a9b35deb66b16a8dc18 by @idan (and @camilleldn working with him if memory serves?). I think our options are either to let the user override the timeout (ugh --do-t

[2017-02-23 21:16] msakrejda commented on #1
@dickeyxxx do you recall any details here? I tried this and can't repro the problem as I understand it:

[code]

[2017-02-23 22:00] jdx commented on #1
I don't remember any details, no. It might be fixed with the new resolver?

[2017-02-23 22:00] #1 closed, assigned to nobody

[2017-02-23 22:05] msakrejda commented on #1
Ok, cool. "Fixed with new resolver" vaguely rings a bell. +1 on closing.

[2017-02-23 23:31] msakrejda commented on #61
I wonder if this is related to #94? @djcp can you still repro this?

[2017-02-24 01:49] #95 closed, assigned to nobody

[2017-02-24 01:49] #92 closed, assigned to nobody

[2017-02-24 14:19] djcp commented on #61
@uhoh-itsmaciek I haven't seen this for a while. I'm going to be tethering for a while today (coffeeshop visit) and I'll try to reproduce again.

[2017-02-24 17:51] fnando commented on #83
It works. 👍

[2017-02-24 17:53] msakrejda commented on #83
Ok, cool, thanks. I'll close this and we can revisit if we see it again and reinstalling doesn't fix it.

[2017-02-24 17:53] #83 closed, assigned to msakrejda

[2017-02-24 19:10] msakrejda commented on #82
Ok, I've looked some more into this and I can replicate it somewhat reliably, but I have no idea what's going on. The error handler [we've added here](https://github.com/heroku/heroku-pg/blob/master/lib/psql.js#L7) doesn't trigger for this error, even though it *does* trigger correctly if, e.g., I change my PATH to exclude `psql`. I don't see where else we might be expected to install an `error` e

[2017-02-28 20:03] idan commented on #94
I don't recall, rereading and trying to remember.

[2017-02-28 20:16] idan commented on #94
Ahh, I think I remember why this is.

So, the actual work is accomplished by the `spawn()` call, which is asynchronous. I think that without the timeout, execution for the scope completes and everything therein is tossed, including the in-progress psql call.

@camilleldn @uhoh-itsmaciek prrreettty sure that's the reason. I remember wrestling with "why doesn't the psql command seem to get executed?

[2017-02-28 20:30] idan commented on #94
I think that means that we must have the timeout in place, or some other synthetic means to keep node from terminating before the PSQL call returns. We tried to use spawnSync but it didn't work because `$FORGOTTEN_REASONS`.

[2017-02-28 20:36] msakrejda commented on #94
`spawnSync` doesn't work because of bastions--with a bastion, psql is initially connecting to the proxy process that the CLI itself is running, so it can't spawn psql synchronously because it needs to handle its incoming connection as soon as it spawns it.

[2017-03-16 21:50] msakrejda commented on #94
@idan @camilleldn so, tried removing the timeout and still works in both private and non-private databases. The only downside I can think of is uglier behavior (essentially the command would get stuck until you Ctrl+C) *if* the database is unreachable (e.g., bad bastion or service incident). I think it's worth it to fix this. Thoughts?

[2017-03-30 20:37] BradleyJohnson opened #101 "404 from `/databases/:name` results in misleading error when dbs are attached to another app"
[code]

These resources are available but are attached to a separate application.

[2017-03-30 20:42] msakrejda commented on #101
@BradleyJohnson I think that's only an issue for paranoid apps, no? If not, can you provide repro steps? It seems to work fine for me:

[code]

[2017-03-30 21:01] msakrejda commented on #85
I believe this was fixed by #97; please let me know if you are still having problems.

[2017-03-30 21:01] #85 closed, assigned to nobody

[2017-03-30 21:02] msakrejda commented on #82
I think this might be related to #99

[2017-03-30 21:05] msakrejda commented on #61
Closing this due to inactivity. We can reopen if we see it again.

[2017-03-30 21:05] #61 closed, assigned to nobody

[2017-03-30 21:12] msakrejda opened #102 "Temporary 404s with renamed databases"
Because we contact the Shogun API using add-on names rather than their uuids, for a period of time after a rename, Shogun is unable to find the add-on. Due to related sync issues in Shogun, we have some [heuristic error handling](https://github.com/heroku/heroku-pg/blob/43d39f967138760a3ec2fdbf5f8821ecd9e4fe56/commands/info.js#L63-L64) where anything that 404s is "not yet provisioned". This means

[2017-03-30 21:23] BradleyJohnson commented on #101
Appears to have been an issue with sudo. Closing for now.

[2017-03-30 21:23] #101 closed, assigned to nobody

[2017-03-31 21:54] msakrejda commented on #102
This should be fixed by #103

[2017-04-04 15:02] slepkin opened #104 "Structured output from toolbelt commands, for use in scripts"
As mentioned in https://github.com/heroku/cli/issues/42, it's useful to be able to output JSON (or any other standardized structure) when a command is run in the CLI. Many CLI commands have `--json` as an option, but `pg:info` does not. I envision it like this:

[code]

[2017-04-07 18:18] msakrejda commented on #104
I agree this would be useful, but I don't think we can offer a stable output format here without stabilizing and formalizing the internal APIs we use to get this info. That's something we're definitely interested in, but we don't have a timeline right now.

[2017-04-07 19:42] msakrejda commented on #102
#103 was merged and will be released with the next CLI release.

[2017-04-07 19:42] #102 closed, assigned to nobody

[2017-04-11 19:59] idan commented on #94
+1

[2017-04-13 16:28] #94 closed, assigned to msakrejda

[2017-05-18 20:37] spollack opened #114 "pg:ps fails with 'column "waiting" does not exist'"
i'm running this command against heroku postgres 9.6.x databases. i'm running from OSX, heroku CLI installed via brew.
[code]

[code]

I see there was a fix here in heroku-pg to be compatible with pg 9.6.x, but it doesn't seem to be working for me.

Thanks,
Seth

[2017-05-18 21:08] msakrejda commented on #114
Hi, thanks for reporting this. I've submitted a patch to triage this issue and we should be able to ship that shortly. In the meantime, I suspect you may be able to work around this by temporarily disabling your `.psqlrc` file. I apologize for the inconvenience.

[2017-05-18 21:12] spollack commented on #114
thank you for the super-rapid response!

[2017-05-19 02:17] ryanbrainard opened #116 "Ctrl+C in pg:psql exiting"
When using `pg:psql` and pressing Ctrl+C (e.g. to cancel a query), the entire `psql` process exits instead of being trapped and cancelling the running statement.

I ran into this before and was told to reinstall the CLI. This worked last time, but this is happening again. I reinstalled the CLI again, but still no luck. I am on `heroku-cli/6.6.13-57fc242 (darwin-x64) node-v7.9.0`.

[2017-05-19 15:52] msakrejda commented on #116
@ryanbrainard does this happen on both private and standard/hobby plans?

[2017-05-22 00:39] ryanbrainard commented on #116
Yes.

[2017-05-22 14:04] ransombriggs commented on #116
@dickeyxxx ^^^ the problem that we had with psql in the ruby removal may also be an issue in v6

[2017-05-22 15:49] msakrejda commented on #116
Interesting, both work fine for me on Ubuntu on v5. Let me see if I can try v6.

[2017-05-22 16:09] jdx commented on #116
I put sigint handling in I'm sure, but something must not be working right. I'll investigate.

[2017-05-22 16:22] msakrejda commented on #116
Yeah, confirmed: on v6 both kill the session for me (whereas on v5 it works fine). Let me know if you need a hand looking at this @dickeyxxx.

[2017-05-22 19:56] #114 closed, assigned to msakrejda

[2017-05-31 17:29] jdx commented on #116
will be fixing this this week https://github.com/heroku/cli-engine/issues/162

[2017-06-01 17:29] jdx commented on #116
fix is out, let me know if you still see any issues

[2017-06-02 18:54] msakrejda commented on #116
Confirmed; this works for me as expected with v6.

[2017-06-05 16:13] msakrejda opened #127 "pg:backups:restore should require an explicit database"
Right now it defaults to DATABASE_URL, but there's little reason to do that and it's a bit of a foot gun. We should require the database to be explicitly specified.

[2017-06-05 20:10] msakrejda commented on #127
So this is tricky because right now the backup is the first argument and is also optional. While we could make the command "smart" and try to figure out if the argument (if only one is provided) is a database name or a backup name, I think this may not always be unambiguous, and is always kinda weird.

We could make the backup argument required, too, or we could reverse the order of the arguments

[2017-06-06 12:58] camillebaldock commented on #127
I'd vote in favour of `While we could make the command "smart" and try to figure out if the argument (if only one is provided) is a database name or a backup name, I think this may not always be unambiguous, and is always kinda weird.`.

Making URL detection smarter is needed in the context of the credentials project anyway (see https://trello.com/c/seYyXv95/1971-creds-unhelpful-suggestions-for-da

[2017-06-06 16:02] msakrejda commented on #127
URL detection?

[2017-06-06 16:06] camillebaldock commented on #127
@uhoh-itsmaciek by `URL detection` above I mean: creating a method in the CLI that takes a string like "DATABASE_URL" to knowing whether it is a valid attachment. This needs to look at a list of attachments and excludes ones with a namespace. Apologies for confusing explanation above.

[2017-06-06 16:12] msakrejda commented on #127
Ah, I see, thanks. The v6 custom flags stuff should simplify this, no? Although I suppose we can't use that if we want this behavior.

We also need to consider how this fits in with our other CLI conventions. Any thoughts on this @dickeyxxx or @heroku/cli? Basically, we want to make the *second* argument to the command no longer optional, but that introduces some weirdness, because we want to keep

[2017-06-06 19:40] jdx commented on #127
there is some precedent for doing things with either a flag or an arg like `heroku destroy` that can be `heroku destroy foo` or `heroku destroy -a foo`: https://github.com/heroku/heroku-apps/blob/master/commands/apps/destroy.js#L10

When I first put that in I was unsure if it was a great idea, but my philosophy is to do what the user wants if you know what they mean, and this is one of those cases

[2017-06-26 22:59] keiko713 opened #137 "canceling heroku pg:backups:restore command will hide the cursor in console"
how to repro:

1. run `heroku pg:backups:restore b001 DATABASE_URL -a myapp -c myapp`
2. it says this log message: https://github.com/heroku/heroku-pg/blob/master/commands/backups/restore.js#L62-L66
3. do `Ctrl+C`
4. the canceling to see the progress part is going well, but the cursor is gone

running things like `reset` works but it is pretty annoying, and I don't really know why it is happening.

[2017-06-29 18:39] neovintage commented on #127
we have to be very careful about changing behavior.

- What problems are customers going to run into?
- Is there a way to see how many customers are running the command without specifying the attachment / resource?

[2017-06-29 21:05] keiko713 opened #139 "Fetcher throws incorrect error with zero-config_vars attachments"
During the provisioning, there is a timing that there's an attachment but there's not config_vars.
Under that condition, https://github.com/heroku/heroku-pg/blob/master/lib/fetcher.js#L61 will throw the error https://github.com/heroku/heroku-pg/blob/master/lib/util.js#L12 .

This is especially bad for staging environment where we actually need to reach to that point (for prod, usually resolving ad

[2017-07-10 23:23] msakrejda commented on #127
We've decided that fixing this only introduces the potential for other, equally tricky problems. See linked Trello card.

[2017-07-10 23:23] #127 closed, assigned to msakrejda

[2017-07-14 17:08] msakrejda opened #140 "Heroku pg:copy can get caught in an error state, infinitely printing "▸ not found""
From @taytay (see https://github.com/heroku/cli/issues/545 )

--------

We regularly create and copy Hobby DBs as part of our deploy process. Occasionally, one of these processes will get hung on a `pg:copy` command. Here's the output from the one I just killed:

[code]
It goes on like that for another 16 hours, so I think it's safe to say it's dead. :)
The copy command looks like this:

`heroku p

[2017-07-19 16:52] msakrejda commented on #140
@TayTay do you know  what version of the CLI and the plugin you were using? I've looked at this and the wait should give up after 20 errors. We should probably still handle 404s specially and exit early (e.g., if the relevant database is destroyed mid-copy), but I don't see how we would go into an indefinite retry loop with the current code.

[2017-07-19 17:30] msakrejda commented on #139
@keiko713 Can you give me a full command and the error that you get, with `HEROKU_DEBUG=1`?

[2017-07-19 22:57] keiko713 commented on #139
Sooo this works well:

[code]

but this doesn't:

[code]

[2017-07-19 22:59] keiko713 commented on #139
it's kinda "you shouldn't really hit" thing in prod so pretty low priority maybe. if you want to repro by yourself, let me know.

[2017-08-04 18:44] msakrejda opened #144 "Uses namespaced attachment in informational messages"
[code]

That is a namespaced attachment; the message should use only un-namespaced attachments.

[2017-08-30 19:43] msakrejda opened #152 "Default database not picked for pg:psql when --credential passed in"
[code]

[2017-09-21 23:32] quirkey opened #156 "Change copy for capture your first backup"
@uhoh-itsmaciek and @idan to provide details

[2017-09-26 23:01] msakrejda commented on #156
Closing since this was moved to DHC.

[2017-09-26 23:01] #156 closed, assigned to nobody

[2017-10-17 10:07] BenTalagan opened #159 "Feature : Add some more options to pg:pull through pg_dump"
Hello,

A very useful option has been lost when removing taps from the cli : the ability to exclude some table datas based on a table name. I wish it were back. It seems to me possible (not totally sure), looking at the code from pull.js where the dump command is defined as :

[code]

Thus a few more options could be passed to add provide more pg_dump features, especially the **--exclude-table-dat

[2017-10-17 19:56] msakrejda commented on #159
That seems like a worthwhile option to support, but realistically, we have a lot of things in our backlog and we likely won't get around to this anytime soon. If someone wants to contribute a patch to support this, though, I'm happy to review.

[2017-10-17 21:00] BenTalagan commented on #159
Here you go, then : PR #160 😃

[2017-10-31 23:12] msakrejda opened #165 "Support a --template flag in cred creation for parity with DHC"

[2017-10-31 23:34] msakrejda opened #166 "Confusing messaging in credential listing"
It's not clear what ["waiting for no connections to be revoked"](https://github.com/heroku/heroku-pg/blob/master/lib/util.js#L66) means...

[2017-11-01 00:02] msakrejda opened #167 "Warn on pg:psql with unattached credential"
If you try to run `heroku pg:psql --credential unattached-cred` (where `unattached-cred` exists but is not attached anywhere), you'll get the opaque error

Which is not entirely correct (the addon may have been found, but the attachment using the specified credential was not). We should give a better error in this case.

[2017-11-04 00:33] jdx opened #168 "`heroku pg:pull` produces lots of output to stderr"
From https://github.com/heroku/cli/issues/435:

[code]

Setting > /dev/null does nothing, but > /dev/null 2>&1 works to suppress output. But I don't really want to suppress potential errors. Am I doing anything wrong?

[2017-11-06 18:50] msakrejda commented on #168
So `pg:pull` works by invoking the standard Postgres tools `pg_dump` and `pg_restore`. Output from the former is piped into the latter, so stdout for `pg_dump` is already taken. We could potentially redirect stderr from the pipeline to stdout, but that goes against the convention of these tools.

Maybe the right solution is to add a `--quiet` flag to omit the [`--verbose` flag we currently pass](h

[2017-11-14 08:41] Srigowri opened #169 "heroku pg:psql throws the error psql:could not translate host name "ec2.<>.amazonaws.com" to address: Unknown server error."
I am trying to use the heroku postgres database. I have installed PostgresSQL 10 on my windows system. psql command works fine while connecting to the local database. While connecting to heroku postgres,it throws the error saying could not translate host name. This maybe because of the proxy settings.

Commands I have used are
**1.psql --host <hostname> --port 5432 --username <username> --dbname <

[2017-11-14 18:19] msakrejda commented on #169
Can you please file a support ticket at https://help.heroku.com ? This sounds like an issue with your configuration and not heroku-pg.

[2017-12-11 22:38] msakrejda opened #175 "Validate Postgres 10 compatibility"
See https://github.com/heroku/herokudata/issues/1122

[2017-12-13 00:06] msakrejda commented on #175
Closing based on https://github.com/heroku/herokudata/issues/1122#issuecomment-350949311 :heart:

[2017-12-13 00:06] #175 closed, assigned to nobody

[2017-12-20 23:52] quirkey opened #176 "CLI updates for new PG plans"
We're supporting core in allowing users to update to the brand new pg plans.

There's a hard launch date here of Jan 17th.

https://xray.herokai.com/projects/new-postgres-plans-eligible-databases
https://salesforce.quip.com/T9iqAwdCLCsZ

[2017-12-21 00:01] msakrejda commented on #176
This *should* be just waiting for @heroku/dod-core to change the pg:info endpoint output, but let's keep this issue open to track that and validate it.

/cc @genslein

[2018-01-08 04:02] #169 closed, assigned to nobody

[2018-03-01 04:26] rngadam commented on #92
Still seeing this erroneous extension mismatch in this version:
[code]

my output:

[code]

[2018-03-01 17:19] msakrejda commented on #92
@rngadam I think this is because you have timing configured in your `.psqlrc` and our extension comparison check is really dumb. We'll overhaul this at some point, but we don't have a timeline and I don't think there's an easy fix we can ship in the meantime. Sorry about that. The workaround is to ignore the warning or remove timing (or anything else that can affect output across executions) from

[2018-03-02 02:30] rngadam commented on #92
ah, yes, I do:

[code]

[2018-03-27 22:40] msakrejda opened #190 "pg:pull does not work on windows"
`pg:pull` currently relies on `env` which is not available on Windows. We could drop our dependence on `env` by passing URLs directly to `pg_dump` and `pg_restore`, but we need to fix the semantically dubious `skipDFlag` argument [here](https://github.com/heroku/heroku-pg/blob/master/commands/pull.js#L78).

[2018-03-29 21:02] jdowning opened #193 "pg:copy prints the database port twice"
When using `pg:copy` I noticed the output printed the database port two times:

[code]

[2018-03-29 22:00] mikehale commented on #116
I'm seeing this happen again.

[2018-03-29 22:04] msakrejda commented on #116
Works fine for me:

[code]

What version are you running @mikehale?

[2018-03-29 22:30] mikehale commented on #116
[code]

[2018-03-29 22:34] msakrejda commented on #116
Hmm. I tried with both private and standard plans--no issues with either here. Any ideas @jdxcode? Maybe it's only an issue on Macs?

[2018-03-30 16:24] mikehale commented on #116
Ok I think I figured out some steps to reproduce this. It only works on under sudo for cancelling long running queries.

[2018-03-30 16:34] mikehale commented on #116
[code]

[2018-03-30 18:08] msakrejda commented on #116
Ok, I can repro with sudo, but this seems like a sudo plugin bug, no?

[2018-03-30 21:56] msakrejda commented on #116
I did some further testing and pretty sure it's sudo breaking `Ctrl-C`. Maybe try filing an issue there? Happy to revisit if `pg:psql` is doing something funky that's causing problems.

[2018-03-30 21:56] #116 closed, assigned to nobody

[2018-03-30 21:59] msakrejda commented on #176
This was done server-side.

[2018-03-30 21:59] #176 closed, assigned to msakrejda

[2018-03-30 22:00] msakrejda commented on #159
Shipped in #160--thanks again!

[2018-03-30 22:00] #159 closed, assigned to nobody

[2018-04-03 23:06] #193 closed, assigned to nobody

[2018-05-04 10:54] stof opened #201 "[Feature request] Support -f for the pg:psql command"
The `-f` option of `psql` allowing to run a sql file in psql is quite handy when having to write a big query, instead of copy-pasting it in an interactive session. But `heroku pg:psql` does not support it (while it supports `-c`).

My workaround until now was to retrieve the credentials URL and then use `psql` directly. However, this does not work for a private plan DB, as this would not go throug

[2018-05-04 16:29] msakrejda commented on #201
@stof I think that sounds reasonable. As a workaround, you should be able to feed stdin to `pg:psql`:

[code]

[2018-05-04 17:55] stof commented on #201
hmm, the workaround is nice. Thanks.

Supporting `-f` would still help. In case of an error somewhere in the file, the error message reports the line number in case of `-f`, while it does not when using stdin

[2018-05-04 18:12] msakrejda commented on #201
Yep, I agree. To be frank, we don't have time to work on this in the near future, but I hope to get around to it at some point (or I would happily accept a patch, though note that our DevCenter documentation for writing plugins may now be referring to newer versions of our CLI framework that is not compatible with the version in use in heroku-pg).

[2018-05-07 06:52] consti opened #202 "Support `--jobs` for `pg:pull` to be used with pg_restore"
From `pg_restore`'s man page:

[2018-05-18 18:24] #201 closed, assigned to nobody

[2018-06-03 07:59] csuhta opened #210 "pg:info counts unreclaimed rows in data size"
I recently performed some maintenance on a Heroku Postgres standard-2 database:

For this database `heroku pg:info` reported a data size of 8.2 GB.

After causing a re-write on a very busy table (we did an `ALTER COLUMN`), the reported data size shrunk to 3.97 GB.

Even though the table was regularly vacuumed, `pg:info` seems to also be including the disk space only re-claimable by using `VACUUM F

[2018-06-04 20:54] msakrejda commented on #210
Thanks for the feedback, but I don't believe Postgres exposes that information. Do you have suggestions for how to calculate that? Right now we're basically using `pg_database_size`.

[2018-06-13 19:59] mikehale opened #211 "Sessions that have been open for an extended period of time can't close"
Steps to reproduce:

[code]

This leaves the terminal in an unusable state... I can't quit psql, and I can't do anything in psql.

[2018-06-13 20:01] mikehale commented on #211
This is what my ps tree looks like afterward:

[code]

running `kill -9 02371` allows me to use the terminal again

[2018-06-13 20:03] mikehale commented on #211
/cc @kwugirl

[2018-06-13 20:09] msakrejda commented on #211
I'm guessing the ssh tunnel we establish dies due to inactivity (nothing happens on the wire while waiting for query results from a long-running query), but I'm not sure how to tweak our tunnel. Thanks for reporting; we'll take a look when we have a chance.